body{
    background: black;
    display: grid;
    justify-items: center;
    gap: 5px;
}

body .main_div{
    min-height: 20vh;
    display: grid;
    width: 100%;
    grid-auto-rows: 20vh;
    grid-row-gap: 1px;
}

body .sum div{
    background-color: rgb(49, 87, 49);
}

body .sub div{
    background-color: rgb(85, 54, 54);
}

.newButtonDiv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.newButton, .removeButton {
    height: 50px;
    width: 170px;
    margin-right: 20px;
    background-color: rgb(82, 82, 82);
}

.newElement {
    display: grid;
    grid-template-columns: repeat( 2, 50% );
    justify-items: center;
    align-items: center;
}

.newElement div{
    display: flex; 
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.newElement div input {
    width: 130px;
    height: 30px;
}

.calc{
    width: 200px;
    height: 50px;
}
